{% extends 'base.html' %}

{% block container %}

<h2>Add Question</h2>
<br>
<ul class="nav nav-tabs" id="questions" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="scquestion-tab" data-toggle="tab" data-target="#scquestion" type="button"
            role="tab" aria-controls="scquestion" aria-selected="true">Single Choice Question</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tfquestion-tab" data-toggle="tab" data-target="#tfquestion" type="button"
            role="tab" aria-controls="tfquestion" aria-selected="false">True/False Question</button>
    </li>
</ul>
<div class="tab-content" id="questionsContent">
    <div class="tab-pane fade show active" id="scquestion" role="tabpanel" aria-labelledby="scquestion-tab">
        <br>
        <form id="addSCQuestion" action="" method="POST">
            <div class="form-group">
                <select class="custom-select" id="category" name="category" required>
                    <option value="">Category</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.id}} - {{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="question" class="sr-only">Question</label>
                <input name="question" type="text" id="question" class="form-control" placeholder="Question" required
                    autofocus>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input name="rightAnswer" type="text" id="rightAnswer" class="form-control is-valid"
                        placeholder="Right Answer" required>
                </div>
                <div class="form-group col-md-6">
                    <input name="wrongAnswer1" type="text" id="wrong_answer1" class="form-control is-invalid"
                        placeholder="Wrong Answer" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input name="wrongAnswer2" type="text" id="wrong_answer2" class="form-control is-invalid"
                        placeholder="Wrong Answer" required>
                </div>
                <div class="form-group col-md-6">
                    <input name="wrongAnswer3" type="text" id="wrong_answer3" class="form-control is-invalid"
                        placeholder="Wrong Answer" required>
                </div>
            </div>

            <button class="btn btn-primary btn-block" name="addSCQuestion" type="submit">Add Question</button>

        </form>
    </div>
    <div class="tab-pane fade" id="tfquestion" role="tabpanel" aria-labelledby="tfquestion-tab">
        <br>
        <form id="addTFQuestion" action="" method="POST">
            <div class="form-group">
                <select class="custom-select" id="category" name="category" required>
                    <option value="">Category</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.id}} - {{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="question" class="sr-only">Question</label>
                <input name="question" type="text" id="question" class="form-control" placeholder="Question" required
                    autofocus>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="tfcheck" name="tfcheck">
                <label class="form-check-label" for="tfcheck">True/False</label>
            </div>

            <button class="btn btn-primary btn-block" name="addTFQuestion" type="submit">Add Question</button>

        </form>
    </div>
</div>



<br>


{% endblock %}