{% extends 'base.html' %}

{% block container %}

<h2>Categories</h2>

<br>

<form class="form-inline" id="addCategory" action="" method="POST">
    <div class="row">
        <div class="col-auto">
            <label for="inputCategory" class="sr-only">Name</label>
            <input name="inputCategory" type="text" id="inputCategory" class="form-control" placeholder="Name" required
                autofocus>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary btn-block" type="submit">Create Category</button>
        </div>
    </div>
</form>

<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<form class="form-inline" id="deleteCategory" action="" method="POST">
    <div class="row">
        <div class="col-auto">
            <select class="custom-select" id="inputCategory" name="inputCategory">
                <option value="0">Choose Category</option>
                {% for category in categories %}
                <option value="{{category.id}}">{{category.id}}  - {{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-danger btn-block" type="submit" name="deleteCategory">Delete Category</button>
        </div>
    </div>
</form>

<br>
<br>

{% endblock %}