{% extends 'base.html' %}

{% block container %}

<h2>{{ category.name }}</h2>

<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Right Answer</th>
            <th scope="col">Wrong Answer</th>
            <th scope="col">Wrong Answer</th>
            <th scope="col">Wrong Answer</th>
        </tr>
    </thead>
    <tbody>
        {% for q in questions %}
        <tr>
            <td>{{ q.question }}</td>
            <td>{{ q.right_answer }}</td>
            <td>{{ q.wrong_answer1 }}</td>
            <td>{{ q.wrong_answer2 }}</td>
            <td>{{ q.wrong_answer3 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Right Answer</th>
        </tr>
    </thead>
    <tbody>
        {% for q in tfquestions %}
        <tr>
            <td>{{ q.question }}</td>
            {% if q.right_answer == 1 %}
            <td>True</td>
            {% else %}
            <td>False</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}